body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.pagewrapper {
    display: flex;
    /* justify-content: flex-end; */
}
.right {
    background-color: grey;
    justify-self: flex-end;
    padding:1rem;
    margin-left: auto;
}